<html>
  <head>
    <title><%= "#{@event.event_type} - #{@event.name}" %></title>
    <%= stylesheet_link_tag "calendar" %>
    <%= stylesheet_link_tag "pages" %>
  </head>
  <body style="background: white">
    <span >
      <b><%= "#{@event.event_type} - #{@event.name}" %></b>
    </span>

    <% form_for @event do |f| %>
      <%= f.error_messages %>
      <div class="label_item">
        <%= f.label :name %>
        <%= f.text_field :name, :size => 40 %>
      </div>
      <div class="label_item">
        <%= f.label :from_date %>
        <%= f.text_field :from_date %>
      </div>
      <div class="label_item">
        <%= f.label :to_date %>
        <%= f.text_field :to_date %>
      </div>
      <div class="label_item">
        <%= f.label :event_type %>
        <%= f.select :event_type, Event::EventTypes %>
      </div>
      <div class="label_item">
        <%= f.label :color %>
        <%= f.text_field :color %>
      </div>
      <div class="label_item">
        <%= f.label :details %>
        <%= f.text_area :details %>
      </div>
      <div class="label_item">
        <label style="visibility:hidden">.</label>
        <%= f.submit "Save", :class => "button" %>&nbsp;&nbsp;or&nbsp;&nbsp;<%= link_to "Cancel", events_path %>
      </div>
    <% end %>
  </body>
</html>
<style>
  form label{
    width: 100px;
  }
</style>





