<% @title = "Add a new event" %>

<% form_for @event do |f| %>
  <%= f.error_messages %>
  <div class="label_item">
    <%= f.label :name %>
    <%= f.text_field :name, :size => 40 %>
  </div>
  <div class="label_item">
    <%= f.label :from_date %>
    <%= f.text_field :from_date %>
  </div>
  <div class="label_item">
    <%= f.label :to_date %>
    <%= f.text_field :to_date %>
  </div>
  <div class="label_item">
    <%= f.label :type %>
    <%= f.select :type_id, @type_strings %>
  </div>
  <div class="label_item">
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>
  <div class="label_item">
    <%= f.label :details %>
    <%= f.text_area :details %>
  </div>
  <div class="label_item">
    <label style="visibility:hidden">.</label>
    <%= f.submit "Create", :class => "button" %>&nbsp;&nbsp;or&nbsp;&nbsp;<%= link_to "Cancel", events_path %>
  </div>
<% end %>
